/* All */
body{
    font-family: "Oxygen", sans-serif;
    background-color: #ffedcd;
    color: #022326;
}

/* header */
header{
    display: flex;
}

.tagline{
    font-size: 1rem;
}

.headAndNav{
    display: flex;
}

/* nav */
nav{
    justify-content: right;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 1rem;
    font-weight: 300;
}

nav ul li:hover{
    font-weight: 400;
}

/* main */
.pageNav{
    text-align: center;
}

.sugestionsButtonsGroup, .galleryBoxesBox{
    display: flex;
    text-align: center;
}

.sugestionsButtonsGroup{
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sugestionsButton{
    padding: 1rem;
    margin: 0.55rem 1.25rem;
    background-color: #285059;
    color: #ececec;
}

.sugestionsButton a{
    color: #ececec;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0;
    margin: 1rem;
}

.pageNav h2{
    padding: 0;
    margin: 0;
}

.galleryBox{
    display: flex;
    justify-content: center;
}

.katsudonPork{
    display: flex;
}

.galleryBoxImage{
    height: 8rem;
    width: auto;
}

/* footer */
footer{
    text-align: center;
    padding-top: 3rem;
}








/* needs to have
-Styling for the body tag is present
-Styling for the heading 2 tag is present
-Styling for the paragraph tag is present
-Style the definition list
-Add a border radius
-Default navigation link underline has been removed
-Insure menu items are at least 48 px tall
-Insure way-finding is working
-Background color used
-Color used
-CSS passes a validator
-HTML passes a validator
*/

/* Completed / Has 
-Include CSS comments in your style sheet
- A Google font has been linked in the head of your document
-A CSS font-family property is present in the CSS file
-Change the bullet type for a list
-Flexbox is used to display menu items horizontally
-Styling for the heading 1 tag is present
-CSS incudes a hover state for the anchors
-Styling for the navigation tag is present
-At least two different font weights are used
-At least two different font sizes are used
-Style a border using (color, type, thickness)
-Use padding and margin to style the lists
*/