/* All - Central Header*/
body{
    font-family: "Montserrat", sans-serif;
    background-color: #fff3de;
    color: #022326;
    margin: 0;
}

main{
    padding: .5rem 3rem;
}



/* Header - Central Header*/
header{
    display: flex;
    padding-right: 4rem;
    background-color: #022326;
    color: #ae8460;
}

header span{
    padding: .8rem;
}

.tagline{
    font-size: 1rem;
    padding: 0;
}



/* Nav - Central Header*/
nav{
    background-color: #8c613b;
}

nav ul{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0 2.5rem;
}

nav a{
    display: block;
    text-decoration: none;
    color: #022326;
    font-size: 1.15rem;
    padding: 1rem 1.5rem;
    font-weight: 300;
}

nav li a:hover{
    color: white;
}

nav li.active a{
    background-color: #022326;
    color: #ae8460;
}



/* Main - Central Header*/
/* ~General ~ Main Css */
.hero{
    padding: 5rem 0 2rem 0;
    /* probably going to want to add a background color or image here later */
}

.titleMatchHeader{
    padding: 2rem 0 0 0;
}

.sugestionsButtonsGroup, .galleryBoxesBox{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

/* h1, h2, p, a, tags CSS */
h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0;
    margin: 1rem;
}

h2{
    font-weight: 400;
}

figcaption{
    justify-content: center;
}

/* Page Nav CSS */
.pageNav h2{
    padding: 0;
    margin: 0;
}

.pageNav{
    text-align: center;
}


/* ~Gallery Specific ~ Main Css */
.sugestionsButtonsGroup{
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sugestionsButton{
    padding: 1rem;
    margin: 0.55rem 1.25rem;
    background-color: #285059;
    color: #ececec;
}

.sugestionsButton a{
    color: #ececec;
    text-decoration: none;
}

.galleryBoxesBox{
    margin: auto;
    flex-wrap: wrap;
    /* margin: 0 2rem; */
}

.galleryBoxesBox p{
    padding: 0 1.5rem;
    margin: 0;
    padding: 0;
}

.galleryBox{
    /* display: flex; */
    justify-content: center;
    margin: 0 2rem;
    width: 150px;
}

/* make sure to add any additional recipie classes you add to the gallery */
.katsudonPork, .dishPlaceholder{
    display: flex;
}

.galleryImage{
    height: 10rem;
    width: auto;
    padding: 1rem 0px;
}

.suggestionsSubmissions{
    margin-top: 7rem;
    padding: 0 5rem;
}

figure.formImageAndCaption{
    width: 40%;
    float: right;
    margin: 0;
    padding: 0 0 1rem 1rem;
}

figure.formImageAndCaption img{
    width: 100%;
    height: auto;
    float: right;
}

figure.formImageAndCaption figcaption{
    text-align: center;
    font-size: .75rem;
}

/* ~About Specific ~ Main Css */
.bioBlock{
    /* clear: both; makes it so it does the image section cut off that you wanted */
    clear: both;
    display: block;
}

.bioPics{
    width: 35%;
    height: auto;
}

#rich.bioPics{
    float: left;
    padding: 0 1rem 1rem 0;
}

#me.bioPics{
    float: right;
    padding: 0 0 1rem 1rem;
}

/* ~Recipes Specific ~ Main Css */
.outlineMain{
    margin-top: 5%;
}

h2 .recipe{
    padding: 0 0 1rem 0;
    text-align: center;
}

.recipe{
    font-size: 2.5rem;
}

.resultsImage{
    float: right;
    width: 35%;
    height: auto;
    padding: 1rem;
}

.skipButton{
    padding: .5rem;
    background-color:#022326;
    color: #abd3dc;
    border: 3px solid #285059;
    border-radius: 5px;
    text-decoration: none;
    margin: .25rem 1rem;
    float: left;
}

.preRecipe p{
    margin-top: 1rem;
}

dl{
    padding: 1%;
}

.materialsIngredientsContentsText dt{
    font-weight:500;
}

.materialsIngredientsContentsText dd{
    margin: 0 1.25rem;
    font-size: .85rem;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #8c613b;
}



/* Footer - Central Header*/
footer{
    text-align: center;
    padding-top: 3rem;
    clear:both
}